<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

  <title>One Equity Staking Pool</title>
  <link rel="icon" href="assets/images/logo.png" type="image/x-icon">

</head>

<body>

<!-- ***** Preloader Start *****
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
***** Preloader End ***** -->


<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div id="tombola_info"></div>
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1><strong>Introduction</strong></h1>
          <p>At One Equity we provide you with the chance to engage with your staking-peers and uplift each other and the world around you. We value a solid community and want to give back to the world through our delegators.<br>
            <br>As a delegator at One Equity, you will contribute to our decentralized charity project.
            This project is built on contributions, engagement and seniority by our delegators.<br>
            <br> We have developed a system that seeks to reward loyal delegators on a long term basis, beyond your passive earnings. In turn, we hope that our delegators will be ambassadors for the charity project, and we trust you to spend your rewards in a charitable way.
            <br>Through the concept of decentralized charity, we expand the boundaries for what a staking pool can be.
          </p>
          <a href="#index" class="main-button-slider">Learn More</a>
        </div>
      </div>
      <p>
        <br><br>
        <strong>Reward Systems</strong>
        <br><br>
        In total, 100 ADA will be allocated to 2 different types of reward systems, each time we mint a block in an epoch.
        70 ADA are distributed between the different sub-pool raffles.
        30 ADA will be allocated into a charity-reserve, which will accumulate for a period of 15 epochs.<br><br>
        <strong>Sub-pool Raffles</strong><br><br>
        Our reward system is based on a raffle, in which delegators have a chance to acquire additional ADA rewards, rooted in the amount of ADA staked by the individual. In total, 70 ADA will be at stake, and this raffle is held every time our pool mints a block, and will be automated.
        You will sign up as a participant of the raffle, through a microtransaction on our website (LINK).
        <br>The raffle is divided into 5 interval based sub-pools, in which each sub-pool have different levels of ADA rewards related to them. The intervals of the 5 different sub-pools can be seen in Figure X, as well as the associated reward.
      </p>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="guide">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>

      <section class="guide">
        <div class="flexbox-guide">
          <h1 class="how-to-header">Rewards and charity</h1>
          <br>
          <p class="how-to-text how-to-text-1">It’s a common basis to gain rewards through staking, and some pools offer opportunities to win additional rewards through giveaways or other types of reward-based systems. Additionally, it is somewhat of a general idea for pools to utilize the pool’s reward-funds to contribute to certain charities. These charities are typically chosen by the pool operators, and the delegators help to enforce the pool’s ability to bestow on charity.
            <br><br>At One Equity, we want to approach this topic differently. We comply with the concepts of both reward systems and charity donations through staking, but want to create a more distribution-based system. Instead of our delegators passively contributing to charity, we want to bring the opportunity to the delegators in our community.
            <br><br>We believe in the goodness of mankind and hope that our delegators can use their pool rewards to support causes of their own liking. Instead of wasting pool funds on one or few common charities, this concept will aim to alleviate more ADA to our improved randomized reward system. This means more funds to reward our delegators. In turn, we hope that these rewards incentivize the recipients to do a little good for someone, or something, that they find charitable, thus encouraging a sort of decentralized charity system.

          </p>

        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="hr"></div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->



<!--  ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>50.000</strong>
            <span>Pledge</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>12</strong>
            <span>Lifetime Blocks</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>414.130</strong>
            <span>Active Stake</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>57</strong>
            <span>Delegators</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Join Us</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Follow the links below to start staking, joining our community or learning how to.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">How to Stake?</a>
            </h3>
            <div class="text">
              Our self-made guide, both in Danish and English. Made as comprehensible as possible.<br> Screenshots included.
            </div>
            <a [routerLink]="['/staking']" class="main-button">Staking Guide</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Community</a>
            </h3>
            <div class="text">
              Join our Telegram full of lovely members, jokes and crypto discussions. <br> Everyone is welcome!
            </div>
            <a href="#" class="main-button">Telegram</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Stake Pool</a>
            </h3>
            <div class="text">
              There are many great tools for monitoring and following the state of any stake pool on Cardano. <br> Our favorite is <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311"> Adapools.org.</a>
            </div>
            <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311" class="main-button">Adapools.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->


<!-- kan ikke finde den der fucking fa fa-telegram> -->
<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/OneequityP"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://t.me/OneEquityPool"><i class="fa fa-telegram"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">Copyright &copy; 2021 One Equity - Staking Pool</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>
</html>
