<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

  <title>One Equity Staking Pool</title>
  <link rel="icon" href="assets/images/logo.png" type="image/x-icon">

</head>

<body>

<!-- ***** Preloader Start *****
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
***** Preloader End ***** -->


<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1>Tombola <strong>Giveaways</strong></h1>
          <p>We hold Tombola's which is giveaways for all of our delegators. You can earn tickets by referring. </p>
          <a href="#guide" class="main-button-slider">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="guide">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>

      <section class="guide">
        <div class="flexbox-guide">
          <h1 class="how-to-header">”What is Tombola?”</h1>
          <br>
          <p class="how-to-text how-to-text-1">By staking in our pool we grant you the privilege of having a chance to earn even more ada. We love to share and help our community.<br>
            <br>
            This is why we make Tombola's which is giveaways. We usually giveaway 100ADA x4: 4 winners each time.
            Dont let this scare you at all. if you dont have a lot of ADA you can earn tickets by Refering people to the pool.
          </p>

        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="hr"></div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->



<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>6.8</strong>
            <span>% ROA</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>3</strong>
            <span>Lifetime Blocks</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>306.530</strong>
            <span>Active Stake</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>36</strong>
            <span>Delegators</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Join Us</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Follow the links below to start staking, joining our community or learning how to.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">How-to Stake</a>
            </h3>
            <div class="text">
              Our handmade guide in both Danish and English, easy to understand, follow and become an expert in staking.
            </div>
            <a [routerLink]="['/staking']" class="main-button">Staking-Guide</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Community</a>
            </h3>
            <div class="text">
              Join our telegram filled with joy, jokes and serious crypto discussion. Everyone is welcome!
            </div>
            <a href="https://t.me/OneequityADA_stakepool" class="main-button">Telegram</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Stake-Pool</a>
            </h3>
            <div class="text">
              There is many great tools for watching and following the state of a stakepool. Our favorite is Adapools.
            </div>
            <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311" class="main-button">Adapools</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-telegram"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">Copyright &copy; 2021 One Equity - Staking Pool</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="assets/js/scrollreveal.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="assets/js/custom.js"></script>

</body>
</html>
