<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="#" class="logo">
            <img src="/assets/images/logo.png" alt="One Equity" width="50" height="50"/>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a [routerLink]="['https://oneequity-staking-pool.com/']" class="active">Home</a></li>
            <li><a [routerLink]="['/staking']" class="active">Staking-guide</a></li>
            <li><a [routerLink]="['/tombola']" class="active">Tombola</a></li>
            <li><a [routerLink]="['/referral']" class="active">Referral</a></li>
            <li><a href="#" class="active">Winners</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
