<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="#" class="logo">
            <img src="/assets/images/logo.png" alt="One Equity" width="50" height="50"/>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a href="#" class="active">Home</a></li>
            <li><a [routerLink]="['/staking']" ]>Staking-guide</a></li>
            <li><a href="#">Tombola</a></li>
            <li><a href="#">Referral</a></li>
            <li><a href="#">Winners</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
        <div class="lang">
          <a href="#" class="dansk">DA</a>
        </div>
        <div class="lang1">
          <a href="#" class="engelsk">EN</a>
        </div>
        <div class="forum">
          <a href="#" target="_blank" class="fa fa-group">Forum</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
