<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

  <title>One Equity Staking Pool</title>
  <link rel="icon" href="/src/assets/images/logo.png" type="image/x-icon">


  <!-- Additional CSS Files -->
</head>

<body>

<!--- ***** Preloader Start *****
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
 ***** Preloader End ***** -->




<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1>Who is <strong>One Equity</strong><br>Staking Pool </h1>
          <p>We are a staking pool doing more than just a staking pool. We have tombola's(giveaways) and a friendly community.</p>
          <a href="#features" class="main-button-slider">Discover More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/featured-item-01.png" alt=""></i>
              </div>
              <h5 class="features-title">Experienced Team</h5>
              <p>2 highly qualified developers stand behind 24/7 uptime and maintenance</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/featured-item-01.png" alt=""></i>
              </div>
              <h5 class="features-title">Engaging Community</h5>
              <p>Our community is filled with joy, jokes and serious crypto discussions</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/featured-item-01.png" alt=""></i>
              </div>
              <h5 class="features-title">Our Goal</h5>
              <p>We want to do more than just staking pools. Community and friendship is one of our highly weighted topic.</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
        <div class="left-heading">
          <h2 class="section-title">Let’s talk about our project</h2>
        </div>
        <div class="left-text">
          <p> We are a Cardano Staking Pool. Our focus is aimed on decentralization and helping the network. Aside from that we focus a lot on our community.
            This is also aimed towards the future. We are the network of Cardano - we are here to help and balance out the network.
            We know it can seem quite technical at first, but that is why we are here to offer our service.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hr"></div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-bottom-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
        <div class="left-heading">
          <h2 class="section-title">We share and help each other</h2>
        </div>
        <div class="left-text">
          <p>We like to help every single person in our pool. This is why we have arranged Tombola's (giveaways) for all of our delegators. This means you can earn even more ada, jsut by staking in our pool.
            Now dont let this scare you. Even if you dont have a lot of ADA you can Refer other people and earn Tickets to our tombola = more gain for everyone.</p>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
        <img src="assets/images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->

<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="info">
            <h1 class="text">Reward system</h1>
            <p class="text">Below model shows when you recieve rewards after staking.</p>
          </div>
        </div>
      </div>

      <!-- ***** Mini Box Start ***** -->
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>First Epoch</strong>
            <span>User starts delegating. <br><br>1 epoch is<br> "5 days"</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Second Epoch</strong>
            <span>Stake Snapshot. Your delegation is registered.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Third Epoch</strong>
            <span>Delegation is now active. All blocks from here on, you will get rewards from</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Fourth Epoch</strong>
            <span>If blocks was produced in last epoch they will be calculated now.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>Fifth Epoch</strong>
            <span>Rewards will now be delivered.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <i><img src="assets/images/work-process-item-01.png" alt=""></i>
            <strong>ROS<br>(Return of Stake)</strong>
            <span>You gain 5-6% your initial stake yearly.</span>
          </a>
        </div>
      </div>
      <!-- ***** Mini Box End ***** -->
    </div>
  </div>
</section>
<!-- ***** Home Parallax End ***** -->

<!-- ***** Testimonials Start ***** -->
<section class="section" id="testimonials">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">What do we say?</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>A short insight of what each of us believe in and what we stand for.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content">
            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
            <p>ADA is here to stay and grow beyond all of our expectations. </p>
            <div class="user-image">
              <img src="http://placehold.it/60x60" alt="">
            </div>
            <div class="team-info">
              <h3 class="user-name">Ben</h3>
              <span>Manager</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->

      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content">
            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
            <p>It is only a matter of time beforee people realise what potential is.</p>
            <div class="user-image">
              <img src="http://placehold.it/60x60" alt="">
            </div>
            <div class="team-info">
              <h3 class="user-name">Patrick</h3>
              <span>UI/UX and Software Developer</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->

      <!-- ***** Testimonials Item Start ***** -->
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="team-item">
          <div class="team-content">
            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
            <p>Cardano will son be the new IN of crypto.</p>
            <div class="user-image">
              <img src="http://placehold.it/60x60" alt="">
            </div>
            <div class="team-info">
              <h3 class="user-name">Daniel</h3>
              <span>Software Developer</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Testimonials Item End ***** -->
    </div>
  </div>
</section>
<!-- ***** Testimonials End ***** -->



<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>6.8</strong>
            <span>% ROA</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>3</strong>
            <span>Lifetime Blocks</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>306.530</strong>
            <span>Active Stake</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>36</strong>
            <span>Delegators</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Join Us</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Follow the links below to start staking, joining our community or learning how to.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">How-to Stake</a>
            </h3>
            <div class="text">
              Our handmade guide in both Danish and English, easy to understand, follow and become an expert in staking.
            </div>
            <a href="#" class="main-button">Staking-Guide</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Community</a>
            </h3>
            <div class="text">
              Join our telegram filled with joy, jokes and serious crypto discussion. Everyone is welcome!
            </div>
            <a href="#" class="main-button">Telegram</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Stake-Pool</a>
            </h3>
            <div class="text">
              There is many great tools for watching and following the state of a stakepool. Our favorite is Adapools.
            </div>
            <a href="#" class="main-button">Adapools</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-telegram"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">Copyright &copy; 2021 One Equity - Staking Pool</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="/src/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/src/assets/js/popper.js"></script>
<script src="/src/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/src/assets/js/scrollreveal.min.js"></script>
<script src="/src/assets/js/waypoints.min.js"></script>
<script src="/src/assets/js/jquery.counterup.min.js"></script>
<script src="/src/assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="/src/assets/js/custom.js"></script>

</body>
</html>
