
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="One Equity - Cardano (Ada) Staking Pool">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

  <title>One Equity Staking Pool</title>
  <link rel="icon" href="/src/assets/images/logo.png" type="image/x-icon">

  <!-- Additional CSS Files -->
</head>


<!--- ***** Preloader Start *****
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>-
</div>
 ***** Preloader End ***** -->




<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1>More than just a staking pool.</h1>
          <p>We consist of a core of people, who have the capabilities to rethink the standards of what a staking pool can be.<br><br> At first glance, staking can seem like a relatively passive experience, merely just providing interests. </p>
          <a [routerLink]="['/tombola']" class="main-button-slider">Read more about our Charity</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Small Start ***** -->
<section class="section home-feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/featured-item-01.png" alt=""></i>
              </div>
              <h5 class="features-title">Experienced team</h5>
              <p>Two qualified and dedicated Stake Pool Operators, with backgrounds in software development and engineering. </p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/featured-item-01.png" alt=""></i>
              </div>
              <h5 class="features-title">Engaging Community</h5>
              <p>Our core community is based on information sharing, Cardano discussions and advice from all members. </p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->

          <!-- ***** Features Small Item Start ***** -->
          <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
            <div class="features-small-item">
              <div class="icon">
                <i><img src="assets/images/featured-item-01.png" alt=""></i>
              </div>
              <h5 class="features-title">Our Goal</h5>
              <p>We want to be more than just an average staking pool. Security, highgly engaged community and decentralized charity.</p>
            </div>
          </div>
          <!-- ***** Features Small Item End ***** -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Small End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 align-self-center" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
        <img src="assets/images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
        <div class="left-heading">
          <h2 class="section-title">One Equity Staking Pool</h2>
        </div>
        <div class="left-text">
          <p> We are a Cardano Staking Pool. Our focus is aimed on helping the decentralization of the Cardano network. Aside from that, our general focus is on our community, as well as scalability, security and performance of our staking pool.
            On our website you will find explanations to staking, our own lottery/tombola system, and the different aspects of the Cardano blockchain. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hr"></div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->



<!-- ***** Home Parallax Start ***** -->
<section class="mini" id="work-process">
  <div class="mini-content">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-6">
          <div class="info">
            <h1 class="text">The Cardano Rewards System</h1>
            <p class="text">The model below displays how and when you receive potential rewards after staking.</p>
          </div>
        </div>
      </div>

      <!-- ***** Mini Box Start ***** -->
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <strong>Epoch N</strong>
            <span>User starts delegating. <br><br> 1 epoch equals 5 days.<br>(5 x 24 hours)</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <strong>Epoch N+1</strong>
            <span>Stake Snapshot of the blockchain. <br><br> Your delegation is registered.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <strong>Epoch N+2</strong>
            <span>Delegation is now active. You will receive rewards from all minted blocks. </span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <strong>Epoch N+3</strong>
            <span>If any blocks was minted in the last epoch, they will be calculated.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-6">
          <a href="#" class="mini-box">
            <strong>Epoch N+4</strong>
            <span>Rewards from minted blocks are distributed.</span>
          </a>
        </div>
      <div class="col-lg-2 col-md-3 col-sm-6 col-6">
        <a href="#" class="mini-box">
          <strong>All epochs after.</strong>
          <span>The network guarantees 4-5% annually in rewards. </span>
        </a>
      </div>
      </div>
      <!-- ***** Mini Box End ***** -->
    </div>
  </div>
</section>
<!-- ***** Home Parallax End ***** -->



<!-- !!!!!!!!!!This should be dynamically updated!!!!!!!!! -->

<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>50.000</strong>
            <span>Pledge</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>12</strong>
            <span>Lifetime Blocks</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>432.880</strong>
            <span>Active Stake</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>61</strong>
            <span>Delegators</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Join Us</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Click below to learn more on staking, join our community or read more about us on Adapools.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">How to Stake?</a>
            </h3>
            <div class="text">
              Our self-made guide, both in Danish and English. Made as comprehensible as possible.<br> Screenshots included.
            </div>
            <a [routerLink]="['/staking']" class="main-button">Staking Guide</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Community</a>
            </h3>
            <div class="text">
              Join our Telegram full of lovely members, jokes and crypto discussions. <br> Everyone is welcome!
            </div>
            <a href="#" class="main-button">Telegram</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Stake Pool</a>
            </h3>
            <div class="text">
              There are many great tools for monitoring and following the state of any stake pool on Cardano. <br> Our favorite is <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311"> Adapools.org.</a>
            </div>
            <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311" class="main-button">Adapools.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->

<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/OneequityP"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://t.me/OneEquityPool"><i class="fa fa-telegram"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">Copyright &copy; 2021 One Equity - Staking Pool</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="/src/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/src/assets/js/popper.js"></script>
<script src="/src/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/src/assets/js/scrollreveal.min.js"></script>
<script src="/src/assets/js/waypoints.min.js"></script>
<script src="/src/assets/js/jquery.counterup.min.js"></script>
<script src="/src/assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="/src/assets/js/custom.js"></script>


