<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

  <title>One Equity Staking Pool</title>
  <link rel="icon" href="assets/images/logo.png" type="image/x-icon">


  <!-- Additional CSS Files -->


</head>

<body>

<!-- ***** Preloader Start *****
<div id="preloader">
  <div class="jumper">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
***** Preloader End ***** -->

<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">

  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
          <h1>How to stake to <strong>One Equity</strong><br>Staking Pool </h1>
          <p>Two self-made tutorials, both in English and Danish.</p>
          <a href="#guide" class="main-button-slider">Learn How To</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section padding-top-70 padding-bottom-0" id="guide">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>

      <section class="guide">
        <div class="flexbox-guide">
          <h1 class="how-to-header">”Hvordan staker jeg ADA i One Equity Pool?”</h1>
          <br>
          <p class="how-to-text how-to-text-1">I denne guide vil vi tage dig gennem alle steps, fra du har købt dine ADA, og til de overføres og stakes gennem en wallet.<br>
            Der findes forskellige wallets man kan stake ADA igennem heriblandt;<br>
            <b>Adalite, Yoroi, Daedalus</b> og flere forskellige <b>exchanges</b> hvor man kan købe ADA.<br>
            <br>
            Denne guide vil tage udgangspunkt i Binance (crypto exchange) og Adalite (Wallet).
          </p>

          <h2 class="how-to-header-small">Oprettelse af wallet:</h2>
          <br>
          <p class="how-to-text how-to-text-2">Først opretter du en <u>PRIVAT</u> wallet på <a href="https://adalite.io">www.adalite.io</a> <br>
            <br>
            Når du besøger AdaLite hjemmesiden, har du flere forskellige muligheder for at bruge enten en online wallet <b>(Mnemonic)</b> eller en <b>hardware</b> wallet.
            Guiden her tager udgangspunkt i en online wallet <b>(Mnemonic).</b> <br>
            Det er stort set samme procedure, hvis du ønsker at benytte en hardware wallet.
          </p>

          <img class="how-to-image how-to-image-1" src="/assets/pics/adalite-wallet.png" width="auto" height="500px">

          <p class="how-to-text how-to-text-3">Når du har klikket på <b>Mnemonic,</b> vil du blive redirected (sendt videre) til login siden, som du benytter når din wallet er oprettet.<br>
            <br>
            Men i dette tilfælde skal vi først have oprettet en wallet – Derfor skal du trykke på <b>Create New Wallet</b> (se billede)
          </p>

          <img class="how-to-image how-to-image-2" src="/assets/pics/adalite-mnemonic.png" width="auto" height="500px">

          <p class="how-to-text how-to-text-4">Når du har trykket <b>Create new wallet,</b> vil du blive mødt at nye login til Adalite.io. <br>
            Det er <b>utrolig vigtigt</b> at du <b>hverken</b> kopierer (ctrl+c), tager screenshots eller billeder på telefonen af disse ord. <br>
            <b>Alle personer med adgang til denne række ord, vil have adgang til din wallet – ALTID.</b> <br>
            I stedet for at gemme dit login online, anbefaler vi at bruge oldschool metoden.<br>
            Find papir og kuglepen frem, skrive alle ord nøjagtigt <br>
            <b>(Husk at passe på det, det er din eneste sikkerhed for dine ADA). </b>
          </p>

          <img class="how-to-image how-to-image-3" src="/assets/pics/adalite-create-wallet.png" width="auto" height="300px">

          <p class="how-to-text how-to-text-5">Når ordene er skrevet og trykket på <b><i>I wrote down my mnemonic,</i></b> vil du blive bedt om at indtaste dem for at logge ind på din wallet. </p>

          <img class="how-to-image how-to-image-4" src="/assets/pics/adalite-remember-mnemonic.png" width="auto" height="500px">

          <p class="how-to-text how-to-text-6">Når dette er gjort og du har trykket <b><i>Unlock,</i></b> har du fået adgang til din adalite.io wallet.<br>
            Her har du en række muligheder. <br>
            Det første vi vil kigge på, er hvordan vi får overført ADA fra Binance til vores wallet.
          </p>

          <img class="how-to-image how-to-image-5" src="/assets/pics/adalite-overview.png" width="400px" height="400px">

          <img class="how-to-image how-to-image-6" src="/assets/pics/adalite-addresses.png" width="400px" height="400px">

          <p class="how-to-text how-to-text-7">Først skal der trykkes på <b><i>receive,</i></b> hvor du vil finde alle dine adresser til din wallet. <br>
            Der vil altid være 20 adresser du kan benytte. I dette tilfælde benytter vi adresse /0. <br>
            <br>
            Når du har købt dine ADA på <b>Binance,</b> vil de kunne findes i din <b>”wallet”.</b> <br>
            Du vil kunne finde dem under den tab der hedder <b>”Wallet”  ”Fiat and spot”</b> (Se billede)
          </p>

          <img class="how-to-image how-to-image-7" src="/assets/pics/binance-fiat-and-spot.png" width="auto" height="350px">

          <p class="how-to-text how-to-text-8">Når du har klikket på <b>Fiat and spot,</b> vil du få et fuldt overblik over alle de coins du har liggende på Binance.<br>
            Når du finder ADA vil du have flere muligheder (se billede)
          </p>

          <img class="how-to-image how-to-image-8" src="/assets/pics/binance-overview.png" width="auto" height="75px">

          <p class="how-to-text how-to-text-9">Her skal du vælge muligheden <b>Withdraw.</b> <br>
            Når du har valgt at withdrawe skal du indsætte følgende informationer: <br>
            <br>

            Det første vi skal udfylde, er vores <b>adresse</b> som vi fandt tidligere i guiden.<br>
            <b><u>Det er meget vigtigt at man tjekker at adressen er korrekt. </u></b> <br>
            Hvis man benytter Binances egen app, vil det være muligt at scanne QR-koden på Adalite.io. <br>
            <br>
            Når adressen er indsat, skal vi vælge hvilket netværk vi ønsker at benytte og der vælger vi <b><u>Cardano.</u></b> <br>
            <br>
            Sidste step er at udfylde, hvor mange ADA man ønsker at overføre til sin wallet.
          </p>

          <img class="how-to-image how-to-image-9" src="/assets/pics/transfer.png" width="auto" height="500px">

          <p class="how-to-text how-to-text-10">Når alle felter er udfyldt, og du har <b><u>dobbelt-tjekket,</u></b> at det er en <b>korrekt adresse</b> og <b>amount,</b> <br> trykker du på <b>Submit</b> og du vil blive bedt om at indsætte din <b>2 factor authentication.</b> <br>
            <br>
            Dine ADA er nu på vej til din wallet. Der kan gå alt fra 1-10 minutter. <br>
            Du kan løbende tjekke om de er kommet til din adresse/wallet ved at trykke på <b>Refresh</b> i din wallet. <br>
            <br>
            Når du har modtaget dine ADA i din <b>wallet</b> er det tid til at stake dem. <br>
            Du skal trykke på <b>Staking</b> i din wallet hvor du vil blive mødt af følgende side:
          </p>

          <img class="how-to-image how-to-image-10" src="/assets/pics/staking.png" width="auto" height="500px">

          <p class="how-to-text how-to-text-11">Her skal du indtaste <b>Stake Pool ID <u>(starter på 39c og slutter på 11): </u></b> <br>
            39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311 <br>
            <br>


            Når du har indtastet <b>Stake Pool ID</b> skal du trykke på <b>Delegate. </b> <br>
            Nu er dine ADA funds staket til <b>One Equity Pool,</b> og du vil herfra kunne læne dig tilbage og nyde godt af dine renter.<br>
            Nyd din nye titel som ADA delegator.
          </p>

        </div>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="hr"></div>
    </div>
  </div>
</section>
<!-- ***** Features Big Item End ***** -->



<!-- ***** Counter Parallax Start ***** -->
<section class="counter">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>50.000</strong>
            <span>Pledge</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-top">
            <strong>12</strong>
            <span>Lifetime Blocks</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item decoration-bottom">
            <strong>414.130</strong>
            <span>Active Stake</span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="count-item">
            <strong>57</strong>
            <span>Delegators</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Counter Parallax End ***** -->

<!-- ***** Blog Start ***** -->
<section class="section" id="blog">
  <div class="container">
    <!-- ***** Section Title Start ***** -->
    <div class="row">
      <div class="col-lg-12">
        <div class="center-heading">
          <h2 class="section-title">Join Us</h2>
        </div>
      </div>
      <div class="offset-lg-3 col-lg-6">
        <div class="center-text">
          <p>Follow the links below to start staking, joining our community or learning how to.</p>
        </div>
      </div>
    </div>
    <!-- ***** Section Title End ***** -->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-01.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">How to Stake?</a>
            </h3>
            <div class="text">
              Our self-made guide, both in Danish and English. Made as comprehensible as possible.<br> Screenshots included.
            </div>
            <a [routerLink]="['/staking']" class="main-button">Staking Guide</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-02.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Community</a>
            </h3>
            <div class="text">
              Join our Telegram full of lovely members, jokes and crypto discussions. <br> Everyone is welcome!
            </div>
            <a href="#" class="main-button">Telegram</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="blog-post-thumb">
          <div class="img">
            <img src="assets/images/blog-item-03.png" alt="">
          </div>
          <div class="blog-content">
            <h3>
              <a href="#">Stake Pool</a>
            </h3>
            <div class="text">
              There are many great tools for monitoring and following the state of any stake pool on Cardano. <br> Our favorite is <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311"> Adapools.org.</a>
            </div>
            <a href="https://adapools.org/pool/39c6ec8fe6dd619d005f17905dde221e31cbd4aadf5eecef9c611311" class="main-button">Adapools.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** Blog End ***** -->
<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="social">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/OneequityP"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://t.me/OneEquityPool"><i class="fa fa-telegram"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p class="copyright">Copyright &copy; 2021 One Equity - Staking Pool</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery -->
<script src="/src/assets/js/jquery-2.1.0.min.js"></script>

<!-- Bootstrap -->
<script src="/src/assets/js/popper.js"></script>
<script src="/src/assets/js/bootstrap.min.js"></script>

<!-- Plugins -->
<script src="/src/assets/js/scrollreveal.min.js"></script>
<script src="/src/assets/js/waypoints.min.js"></script>
<script src="/src/assets/js/jquery.counterup.min.js"></script>
<script src="/src/assets/js/imgfix.min.js"></script>

<!-- Global Init -->
<script src="/src/assets/js/custom.js"></script>

</body>
</html>
